<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ @package   AkeebaSubs
  ~ @copyright Copyright (c)2010-2019 Nicholas K. Dionysopoulos / Akeeba Ltd
  ~ @license   GNU General Public License version 3, or later
  -->
<config>
	<fieldset name="currency" label="COM_AKEEBASUBS_CONFIG_CURRENCY_TITLE">
		<field type="text"
			   name="currency"
			   default="EUR"
			   label="COM_AKEEBASUBS_CONFIG_CURRENCY_CODE"
			   description="COM_AKEEBASUBS_CONFIG_CURRENCY_CODE_DESC"
		/>
		<field type="text"
			   name="currencysymbol"
			   default="€"
			   label="COM_AKEEBASUBS_CONFIG_CURRENCY_SYMBOL"
			   description="COM_AKEEBASUBS_CONFIG_CURRENCY_SYMBOL_DESC"
		/>
		<field name="currencypos" type="list" default="before"
			   label="COM_AKEEBASUBS_CONFIG_CURRENCY_POS_LABEL"
			   description="COM_AKEEBASUBS_CONFIG_CURRENCY_POS_DESC">
			<option value="before">COM_AKEEBASUBS_CONFIG_CURRENCY_POS_BEFORE</option>
			<option value="after">COM_AKEEBASUBS_CONFIG_CURRENCY_POS_AFTER</option>
		</field>
	</fieldset>

	<fieldset name="backend" label="COM_AKEEBASUBS_CONFIG_BACKEND_TITLE">
		<field name="gravatar" type="radio" class="switcher btn-group" default="1"
			   label="COM_AKEEBASUBS_CONFIG_BACKEND_GRAVATAR"
			   description="COM_AKEEBASUBS_CONFIG_BACKEND_GRAVATAR_DESC">
			<option value="0">JNo</option>
			<option value="1">JYes</option>
		</field>

		<field name="imagedir" type="text"
			   default="images"
			   size="60"
			   label="COM_AKEEBASUBS_CONFIG_BACKEND_IMAGEDIR"
			   description="COM_AKEEBASUBS_CONFIG_BACKEND_IMAGEDIR_DESC"
		/>

		<field name="load_fef" type="list" default="3"
			   label="COM_AKEEBASUBS_CONFIG_BACKEND_LOAD_FEF"
			   description="COM_AKEEBASUBS_CONFIG_BACKEND_LOAD_FEF_DESC">
			<option value="0">COM_AKEEBASUBS_CONFIG_BACKEND_LOAD_FEF_NEVER</option>
			<option value="1">COM_AKEEBASUBS_CONFIG_BACKEND_LOAD_FEF_FRONTEND</option>
			<option value="2">COM_AKEEBASUBS_CONFIG_BACKEND_LOAD_FEF_BACKEND</option>
			<option value="3">COM_AKEEBASUBS_CONFIG_BACKEND_LOAD_FEF_BOTH</option>
		</field>

		<field name="fef_reset" type="list" default="3"
			   label="COM_AKEEBASUBS_CONFIG_BACKEND_FEF_RESET"
			   description="COM_AKEEBASUBS_CONFIG_BACKEND_FEF_RESET_DESC">
			<option value="0">COM_AKEEBASUBS_CONFIG_BACKEND_LOAD_FEF_NEVER</option>
			<option value="1">COM_AKEEBASUBS_CONFIG_BACKEND_LOAD_FEF_FRONTEND</option>
			<option value="2">COM_AKEEBASUBS_CONFIG_BACKEND_LOAD_FEF_BACKEND</option>
			<option value="3">COM_AKEEBASUBS_CONFIG_BACKEND_LOAD_FEF_BOTH</option>
		</field>
	</fieldset>

	<fieldset name="frontend" label="COM_AKEEBASUBS_CONFIG_FRONTEND_TITLE">
		<field name="secret" type="text"
			   default=""
			   size="40"
			   label="COM_AKEEBASUBS_CONFIG_FRONTEND_SECRET"
			   description="COM_AKEEBASUBS_CONFIG_FRONTEND_SECRET_DESC"
		/>

		<field name="showrenew" type="radio" class="switcher btn-group" default="1"
			   label="COM_AKEEBASUBS_CONFIG_FRONTEND_SHOWRENEW_LABEL"
			   description="COM_AKEEBASUBS_CONFIG_FRONTEND_SHOWRENEW_DESC">
			<option value="0">JNo</option>
			<option value="1">JYes</option>
		</field>

		<field name="dateformat" type="text"
			   default="Y-m-d H:i"
			   size="30"
			   label="COM_AKEEBASUBS_CONFIG_FRONTEND_DATEFORMAT_LABEL"
			   description="COM_AKEEBASUBS_CONFIG_FRONTEND_DATEFORMAT_DESC"
		/>

		<field name="confirmfree" type="radio" class="switcher btn-group" default="0"
			   label="COM_AKEEBASUBS_CONFIG_FRONTEND_CONFIRMFREE_LABEL"
			   description="COM_AKEEBASUBS_CONFIG_FRONTEND_CONFIRMFREE_DESC">
			<option value="0">JNo</option>
			<option value="1">JYes</option>
		</field>

		<field name="renderasfree" type="radio" class="switcher btn-group" default="0"
			   label="COM_AKEEBASUBS_CONFIG_FRONTEND_RENDERASFREE_LABEL"
			   description="COM_AKEEBASUBS_CONFIG_FRONTEND_RENDERASFREE_DESC">
			<option value="0">JNo</option>
			<option value="1">JYes</option>
		</field>

		<field name="localisePrice" type="radio" class="switcher btn-group" default="1"
			   label="COM_AKEEBASUBS_CONFIG_FRONTEND_LOCALISEPRICE_LABEL"
			   description="COM_AKEEBASUBS_CONFIG_FRONTEND_LOCALISEPRICE_DESC">
			<option value="0">JNo</option>
			<option value="1">JYes</option>
		</field>

		<field name="showEstimatedTax" type="radio" class="switcher btn-group" default="1"
			   label="COM_AKEEBASUBS_CONFIG_FRONTEND_SHOWESTIMATEDTAX_LABEL"
			   description="COM_AKEEBASUBS_CONFIG_FRONTEND_SHOWESTIMATEDTAX_DESC">
			<option value="0">JNo</option>
			<option value="1">JYes</option>
		</field>

		<field name="summaryimages" type="list" default="0"
			   label="COM_AKEEBASUBS_CONFIG_FRONTEND_SUMMARYIMAGES_LABEL"
			   description="COM_AKEEBASUBS_CONFIG_FRONTEND_SUMMARYIMAGES_DESC">
			<option value="0">COM_AKEEBASUBS_CONFIG_FRONTEND_SUMMARYIMAGES_OPT_DROPDOWN</option>
			<option value="20">COM_AKEEBASUBS_CONFIG_FRONTEND_SUMMARYIMAGES_OPT_MICROIMAGE</option>
			<option value="32">COM_AKEEBASUBS_CONFIG_FRONTEND_SUMMARYIMAGES_OPT_SMALLIMAGE</option>
			<option value="64">COM_AKEEBASUBS_CONFIG_FRONTEND_SUMMARYIMAGES_OPT_MEDIUMIMAGE</option>
			<option value="128">COM_AKEEBASUBS_CONFIG_FRONTEND_SUMMARYIMAGES_OPT_LARGEIMAGE</option>
		</field>
		
		<field name="apply_joomla_password_requirements" type="radio" class="switcher btn-group" default="0"
			   label="COM_AKEEBASUBS_CONFIG_FRONTEND_APPLY_JOOMLA_PASSWORD_REQUIREMENTS_LABEL"
			   description="COM_AKEEBASUBS_CONFIG_FRONTEND_APPLY_JOOMLA_PASSWORD_REQUIREMENTS_DESC">
			<option value="0">JNo</option>
			<option value="1">JYes</option>
		</field>

		<field name="tos_url" type="text"
			   default="tos.html"
			   size="30"
			   label="COM_AKEEBASUBS_CONFIG_TOS_URL_TITLE"
			   description="COM_AKEEBASUBS_CONFIG_TOS_URL_DESC"
		/>

		<field name="privacy_url" type="text"
			   default="privacy.html"
			   size="30"
			   label="COM_AKEEBASUBS_CONFIG_PRIVACY_URL_TITLE"
			   description="COM_AKEEBASUBS_CONFIG_PRIVACY_URL_DESC"
		/>

		<field name="siteurl" type="hidden" default=""/>
	</fieldset>

	<fieldset name="paddle" label="COM_AKEEBASUBS_CONFIG_PADDLE_TITLE" description="COM_AKEEBASUBS_CONFIG_PADDLE_DESC">
		<field name="demo_payment"
			   type="radio" class="switcher btn-group"
			   default="0"
			   label="COM_AKEEBASUBS_CONFIG_FRONTEND_DEMO_PAYMENT_LABEL"
			   description="COM_AKEEBASUBS_CONFIG_FRONTEND_DEMO_PAYMENT_DESC"
		>
			<option value="0">JNo</option>
			<option value="1">JYes</option>
		</field>

		<field name="vendor_id"
			   type="text"
			   default="0"
			   label="COM_AKEEBASUBS_CONFIG_PADDLE_VENDOR_ID_LABEL"
			   description="COM_AKEEBASUBS_CONFIG_PADDLE_VENDOR_ID_DESC" />

		<field name="vendor_auth_code"
			   type="text"
			   default="0"
			   label="COM_AKEEBASUBS_CONFIG_PADDLE_VENDOR_AUTH_CODE_LABEL"
			   description="COM_AKEEBASUBS_CONFIG_PADDLE_VENDOR_AUTH_CODE_DESC" />

		<field name="public_key"
			   type="textarea" cols="60" rows="14"
			   default=""
			   label="COM_AKEEBASUBS_CONFIG_PADDLE_PUBLIC_KEY_LABEL"
			   description="COM_AKEEBASUBS_CONFIG_PADDLE_PUBLIC_KEY_DESC" />

		<field name="log_callbacks"
			   type="radio" class="switcher btn-group"
			   default="0"
			   label="COM_AKEEBASUBS_CONFIG_FRONTEND_LOG_CALLBACKS_LABEL"
			   description="COM_AKEEBASUBS_CONFIG_FRONTEND_LOG_CALLBACKS_DESC"
		>
			<option value="0">JNo</option>
			<option value="1">JYes</option>
		</field>

		<field name="verify_callbacks"
			   type="radio" class="switcher btn-group"
			   default="1"
			   label="COM_AKEEBASUBS_CONFIG_FRONTEND_VERIFY_CALLBACKS_LABEL"
			   description="COM_AKEEBASUBS_CONFIG_FRONTEND_VERIFY_CALLBACKS_DESC"
		>
			<option value="0">JNo</option>
			<option value="1">JYes</option>
		</field>

		<field name="on_past_due_pending"
			   type="radio" class="switcher btn-group"
			   default="1"
			   label="COM_AKEEBASUBS_CONFIG_FRONTEND_ON_PAST_DUE_PENDING_LABEL"
			   description="COM_AKEEBASUBS_CONFIG_FRONTEND_ON_PAST_DUE_PENDING_DESC"
		>
			<option value="0">COM_AKEEBASUBS_CONFIG_FRONTEND_ON_PAST_DUE_PENDING_EXTEND</option>
			<option value="1">COM_AKEEBASUBS_CONFIG_FRONTEND_ON_PAST_DUE_PENDING_SUSPEND</option>
		</field>
	</fieldset>

	<fieldset
			name="permissions"
			label="JCONFIG_PERMISSIONS_LABEL"
			description="JCONFIG_PERMISSIONS_DESC"
	>

		<field
				name="rules"
				type="rules"
				label="JCONFIG_PERMISSIONS_LABEL"
				class="inputbox"
				filter="rules"
				component="com_akeebasubs"
				section="component"/>
	</fieldset>
</config>
